[database]
host = localhost
database = my_db

[mediacloud]
key = MY_API_KEY

[custom]
modules = app.dashboard

[flask]
template = dashboard/main.html

[threading]
num_threads = 0

[analytics]
google_analytics_id =

[sentry]
dsn = https://<key>:<secret>@app.getsentry.com/<project>
