/* Template styles ************************************************************/

.histogram-view .subquery .progress {
    margin-top: 20px;
}

.wordcount-view .nav-tabs {
    border-bottom: solid 1px #777;
    background: #fff;
    color: #000;
    display: none;
}
.wordcount-view .nav-tabs li {
    border-right: solid 1px #777;
    background: none;
}
.wordcount-view .nav-tabs .active {
}
.wordcount-view .nav-tabs li a,
.wordcount-view .nav-tabs li a:hover,
.wordcount-view .nav-tabs li a:active {
    background: none;
    border: none;
}
.wordcount-view .viz {
    padding: 0;
}
.wordcount-view .spinner {
    position: relative;
    top: -0.15ex;
}

.query-sentences {
    margin-bottom: 40px;
}
.query-sentences:last-child {
    margin-bottom: 0;
}
.query-sentences h3 {
    border-bottom: solid 1px #777;
}
.query-sentences h3 small{
    font-size: 90%;
    text-transform: none;
}

.viz .subquery-header {
    margin: 5px;
}
.viz .subquery-header h3 {
    text-align: center;
}

.country-map-view .map {
    display: inline-block;
    margin: 5px;
}
.country-map-view .map h3 {
    text-align: center;
    margin: 5px;
}

.explorer-invite {
    text-align:center;
    padding: 20px;
}

.explorer-invite a {
    background-color: #8f3387;
    margin-right: 10px;
    padding: 10px;
    display: inline-block;    
    font-weight: bold;
    font-size: 14px;
    color: white;
    box-shadow: 2px 2px 2px 0px #b4b4b4;
}
