/* Template styles ************************************************************/

.wordcount-view .nav-tabs {
    border-bottom: solid 1px #777;
    background: #fff;
    color: #000;
    display: none;
}
.wordcount-view .nav-tabs li {
    border-right: solid 1px #777;
    background: none;
}
.wordcount-view .nav-tabs .active {
}
.wordcount-view .nav-tabs li a,
.wordcount-view .nav-tabs li a:hover,
.wordcount-view .nav-tabs li a:active {
    background: none;
    border: none;
}
.wordcount-view .viz {
    padding: 0;
}
.wordcount-view .spinner {
    position: relative;
    top: -0.15ex;
}

.query-sentences {
    margin-bottom: 40px;
}
.query-sentences:last-child {
    margin-bottom: 0;
}
.query-sentences h3 {
    border-bottom: solid 1px #777;
}

.viz .subquery-header {
    margin: 5px;
}
.viz .subquery-header h3 {
    text-align: center;
}