
/* Global Style ***************************************************************/

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background: #dfdfdf;
}

h3, h4, h5, h6 {
    font-weight: bold;
}
h3 {
    text-transform: uppercase;
    font-size: inherit;
}
h4 {
    font-size: inherit;
}
h5 {
    font-size: small;
}
h6 {
    font-size: x-small;
}

svg {
    background: #fff;
}

/* Brand Style ****************************************************************/

.brand-toolbar {
    background: #e1650c;
    color: #fff;
}
.branding {
    background: #e14c11;
    color: #fff;
}
.app-toolbar {
    background: #813f1f;
    color: #e14c11;
}
.btn-primary {
    background: #e14c11;
    color: #fff;
}

/* Layout *********************************************************************/

body {
    z-index: 0;
}

.header {
    position: relative;
    z-index: 500;
    box-shadow: 0px -17px 20px 20px #afafaf;
}
.brand-toolbar {
}
.branding {
}
.branding h1 img {
    vertical-align: middle;
    position: relative;
    top: -0.33ex;
}
.drawer {
    position: relative;
    z-index: 400;
    background: #dfdfdf;
    color: #5f5f5f;
    box-shadow: 0px -17px 20px 20px #b4b4b4;
}
.messages {
    position: relative;
    z-index: 300;
}
.content {
    position: relative;
    z-index: 200;
    padding-top: 20px;
    background: #f2f2f2;
    box-shadow: 0px -17px 20px 20px #b4b4b4;
}
.footer {
    font-size: small;
    position: relative;
    z-index: 100;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #dfdfdf;
    color: #777;
}

.controls ul {
    list-style: none;
    margin: 0;
    float: right;
    color: white;
}
.controls ul a {
    color: white;
    text-decoration: none;
}
/* Bootstrap customization ****************************************************/

.panel-default {
    border-radius: 0;
    border-color: #777;
    box-shadow: 2px 2px 2px 0px #b4b4b4;
}
.panel-default > .panel-heading {
    background: #fff;
    border-color: #777;
}
.panel-default > .panel-body {
    background: #f2f2f2;
}

.btn {
    margin-bottom: 20px;
    border-radius: 0;
    font-weight: bold;
    color: #777;
}
.btn-primary {
    border: none;
    border-radius: 0;
    box-shadow: 2px 2px 2px 0px #b4b4b4;
    color: #fff;
}
input.form-control, select.form-control, textarea.form-control {
    border-radius: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.form-group label {
    text-transform: uppercase;
    font-weight: 300;
}
.label {
    display: block;
    float: left;
    border-radius: 0;
    font-size: small;
    font-weight: 300;
    box-shadow: 2px 2px 2px 0px #b4b4b4;
    font-size: 14px;
    padding: 6px 12px 8px 12px;
    margin-right: 1em;
}
.label-default {
    background: #fff;
    color: #000;
    border: solid 1px #ccc;
}
.label-default a .glyphicon {
    color: #777;
}

/* Bootstrap typeahead customization ******************************************/

.input-group .twitter-typeahead:first-child .tt-input,
.input-group .twitter-typeahead:first-child .tt-hint {
    background: #fff;
    border-radius: 0;
}