
/* Global layout **************************************************************/

.container {
    position: relative;
}
    
.form-help {
    color: #999;
}

.media-list-item-view .glyphicon {
    position: relative;
    top: 3px !important;
}

/* Template styles ************************************************************/

.media-list-view a.remove {
    color: red;
}

.query-controls div {
    text-align: right;
}
.query-controls label {
    visibility: hidden;
}
.query-views.two .query-controls button.copy {
    display: none;
}
.query-views.one .query-controls button.remove {
    display: none;
}
.keyword-view label {
    display: block;
    float: left;
}
.keyword-view .form-help {
    display: block;
    float: right;
}

/* Plugin styles **************************************************************/

/* Typeahead styling */
.tt-dropdown-menu h3 {
    font-size: 1em;
    margin: 10px 20px 0;
    border-bottom: solid 1px #ccc;
}