<!DOCTYPE html>
<html>
    <head>
        <title>{% block branding_tool_name %}Skeleton{% endblock %} - Media Cloud</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <link rel="stylesheet" type="text/css" href="static/core/lib/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="static/core/lib/typeahead.js-bootstrap/typeahead.css">
        <link rel="stylesheet" type="text/css" href="static/core/lib/spectrum/spectrum.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,700" type="text/css">
        <link rel="stylesheet" type="text/css" href="static/core/mediameter.css"/>
        {% block stylesheets %}{% endblock %}
        {% include 'core/progress.html' %}
        {% include 'core/error_view.html' %}
        {% include 'core/login_view.html' %}
        {% include 'core/controls_view.html' %}
        {% include 'core/controls_signin_view.html' %}
        {% include 'core/controls_signout_view.html' %}
        {% include 'core/query_list_view.html' %}
        {% include 'core/query_view.html' %}
        {% include 'core/query_list_view_reference.html' %}
        {% include 'core/media_list_view.html' %}
        {% include 'core/item_view.html' %}
        {% include 'core/date_range_view.html' %}
        {% include 'core/keyword_view.html' %}
        {% include 'core/query_controls_view.html' %}
        {% include 'core/simple_tag_list_view.html' %}
        {% include 'core/simple_tag_select_view.html' %}
        {% include 'core/wordcount_result_view.html' %}
        {% include 'core/one_sentence_view.html' %}
        {% include 'core/one_story_view.html' %}
        {% include 'core/save_search_view.html' %}
        {% include 'core/load_saved_search_view.html' %}
        {% include 'core/saved_search_item.html' %}
        {% include 'core/export_for_solr_view.html' %}
        {% include 'core/media_discover_view.html' %}
        {% block backbone_templates %}{% endblock %}
    </head>
    <body>
        <div class="header">
            <div class="brand-toolbar">
                <div class="container">
                    {% block brand_toolbar %}
                    <div class="row">
                        <div class="col-sm-8 links"></div>
                        <div class="col-sm-4 controls"></div>
                    </div>
                    {% endblock %}
                </div>
            </div>
            <div class="branding">
                <div class="container">
                    {% block branding %}
                    <h1>
                        {% block logo %}<img src="/static/core/img/mm-logo-65-orange.png" />{% endblock %}
                        <strong>Media Cloud</strong>
                        {{ self.branding_tool_name() }}
                        <small class="pull-right">Powered by <a href="http://mediacloud.org">Media Cloud</a></small>
                    </h1>
                    {% endblock %}
                </div>
            </div>
            <div class="app-toolbar">
                <div class="container">
                    {% block app_toolbar %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="persist-area">
            <div class="drawer persist-header">
                <div class="container">
                    {% block drawer %}{% endblock %}
                </div>
            </div>
            <div class="messages">
                <div class="container">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class="flashes">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
            <div class="content">
                <div class="container reference">
                    <!-- Contents not shown but used for screen geometry calculations. -->
                    {% block reference_content %}
                    {{ reference_content |safe }}
                    {% endblock %}
                </div>
                <div class="container-fluid">
                    {% block fluid_content %}
                    {{ fluid_content |safe }}
                    {% endblock %}
                </div>
                <div class="container container-fixed">
                    {% block content %}
                    {{ content |safe }}
                    {% endblock %}
                </div>
            </div>
            <div class="footer">
                <div class="container">
                    {% block footer %}
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>About Media Cloud</h3>
                            <p>
    What was covered in the news this week? Did the issues you care about get the
    attention you think they deserved? Did the media talk about these topics in the
    way you want them to? Who set the narrative for the current breaking story?
                            </p>
                            <p>
    <a href="http://mediacloud.org">Media Cloud</a> is a suite of tools
    for analyzing a database of online news.
    A number of tools 
    make up the suite, all driven by a query you author to specify media sources, a date range, 
    and some keywords.
                            </p>
                        </div>
                        <div class="col-sm-2 col-sm-offset-1">
                            <h3>Contact</h3>
    <p>
    If you have feedback or questions, you can get in touch with us at
    <a href="mailto:mediameter@media.mit.edu">mediameter@media.mit.edu</a>.
    </p>
    <p>
    Please enter any bugs or <a href="https://github.com/c4fcm/MediaMeter-Dashboard/issues">issues on GitHub</a>.
    </p>
                        </div>
                        <div class="col-sm-4 col-sm-offset-1">
                            <h3><a href="http://civic.mit.edu"><img class="img-responsive" src="static/core/img/civic.png"/></a></h3>
                            <h3><a href="http://cyber.law.harvard.edu"><img class="img-responsive" src="static/core/img/berkman.png"/></a></h3>
                        </div>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>

        {% assets output="gen/mm-core.js",
                            "core/lib/jquery/js/jquery-2.2.4.min.js",
                            "core/lib/jquery.browser/jquery.browser-v2.3.min.js",
                            "core/lib/js.cookie/js.cookie-2.1.1.min.js",
                            "core/lib/underscore/underscore-1.8.3-min.js",
                            "core/lib/backbone/backbone-1.3.3-min.js",
                            "core/lib/bootstrap/js/bootstrap.min.js",
                            "core/lib/typeahead/typeahead.bundle.min.js",
                            "core/lib/datepicker/js/bootstrap-datepicker.js",
                            "core/lib/d3/js/d3-3.5.17.min.js",
                            "core/lib/d3-cloud/js/d3.layout.cloud-1.2.1.js",
                            "core/lib/persist/persist.js",
                            "core/lib/spectrum/spectrum.js",
                            "core/app.js",
                            "core/include/viewmanager.js",
                            "core/include/resource.js",
                            "core/include/primecolor.js",
                            "core/include/country-util.js",
                            "core/models.js",
                            "core/views.js",
                            "core/controller.js",
                            "core/routes.js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% block scripts %}{% endblock %}
        <script type="text/javascript">$(function(){ App.Controller.initialize(); });</script>
        {% if google_analytics_id is defined %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', '{{ google_analytics_id }}', 'auto');
                ga('send', 'pageview');
            </script>
        {% endif %}
    </body>
</html>
