<!DOCTYPE html>
<html>
    <head>
        <title>{% block branding_tool_name %}Skeleton{% endblock %} - MediaMeter</title>
        <link rel="stylesheet" type="text/css" href="static/core/lib/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="static/core/lib/typeahead.js-bootstrap/typeahead.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,700" type="text/css">
        <link rel="stylesheet" type="text/css" href="static/core/mediameter.css"/>
        {% block stylesheets %}{% endblock %}
        {% include 'core/progress.html' %}
        {% include 'core/login_view.html' %}
        {% include 'core/controls_view.html' %}
        {% include 'core/controls_signin_view.html' %}
        {% include 'core/controls_signout_view.html' %}
        {% include 'core/query_list_view.html' %}
        {% include 'core/query_view.html' %}
        {% include 'core/media_select_view.html' %}
        {% include 'core/explore_list_view.html' %}
        {% include 'core/source_explore_view.html' %}
        {% include 'core/media_list_view.html' %}
        {% include 'core/item_view.html' %}
        {% include 'core/tag_set_explore_view.html' %}
        {% include 'core/date_range_view.html' %}
        {% include 'core/keyword_view.html' %}
        {% include 'core/query_controls_view.html' %}
        {% include 'core/simple_tag_list_view.html' %}
        {% include 'core/simple_tag_select_view.html' %}
        {% include 'core/wordcount_result_view.html' %}
        {% include 'core/one_sentence_view.html' %}
        {% include 'core/one_story_view.html' %}
        {% block backbone_templates %}{% endblock %}
    </head>
    <body>
        <div class="header">
            <div class="brand-toolbar">
                <div class="container">
                    {% block brand_toolbar %}
                    <div class="row">
                        <div class="col-sm-8 links"></div>
                        <div class="col-sm-4 controls"></div>
                    </div>
                    {% endblock %}
                </div>
            </div>
            <div class="branding">
                <div class="container">
                    {% block branding %}
                    <h1>
                        {% block logo %}<img src="/static/core/img/mm-logo-65-orange.png" />{% endblock %}
                        <strong>Media Meter</strong>
                        {{ self.branding_tool_name() }}
                        <small class="pull-right">Powered by <a href="http://mediacloud.org">Media Cloud</a></small>
                    </h1>
                    {% endblock %}
                </div>
            </div>
            <div class="app-toolbar">
                <div class="container">
                    {% block app_toolbar %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="drawer">
            <div class="container">
                {% block drawer %}{% endblock %}
            </div>
        </div>
        <div class="messages">
            <div class="container">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="content">
            <div class="container">
                {% block content %}
                {{ content |safe }}
                {% endblock %}
            </div>
        </div>
        <div class="footer">
            <div class="container">
                {% block footer %}
                <div class="row">
                    <div class="col-sm-4">
                        <h3>About Media Meter</h3>
                        <p>
What was covered in the news this week? Did the issues you care about get the
attention you think they deserved? Did the media talk about these topics in the
way you want them to? Who set the narrative for the current breaking story?
                        </p>
                        <p>
<a href="http://mediameter.org">MediaMeter</a> is a suite of tools built on top of the 
<a href="http://mediacloud.org">Media Cloud</a> online news database. A number of tools 
make up the suite, all driven by a query you author to specify media sources, a date range, 
and some keywords.
                        </p>
                    </div>
                    <div class="col-sm-2 col-sm-offset-1">
                        <h3>Contact</h3>
<p>
If you have feedback or questions, you can get in touch with us at
<a href="mailto:mediameter@media.mit.edu">mediameter@media.mit.edu</a>.
</p>
<p>
Please enter any bugs or <a href="https://github.com/c4fcm/MediaMeter-Dashboard/issues">issues on GitHub</a>.
</p>
                    </div>
                    <div class="col-sm-4 col-sm-offset-1">
                        <h3><a href="http://civic.mit.edu"><img class="img-responsive" src="static/core/img/civic.png"/></a></h3>
                        <h3><a href="http://cyber.law.harvard.edu"><img class="img-responsive" src="static/core/img/berkman.png"/></a></h3>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
        <script type="text/javascript" src="static/core/lib/jquery/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="static/core/lib/jquery/js/jquery.cookie-1.4.1.js"></script>
        <script type="text/javascript" src="static/core/lib/underscore/underscore-1.6.0-min.js"></script>
        <script type="text/javascript" src="static/core/lib/backbone/backbone-1.1.2-min.js"></script>
        <script type="text/javascript" src="static/core/lib/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="static/core/lib/typeahead/typeahead.bundle.min.js"></script>
        <script type="text/javascript" src="static/core/lib/datepicker/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="static/core/lib/d3/js/d3-3.4.11.min.js"></script>
        <script type="text/javascript" src="static/core/lib/d3-cloud/js/d3-cloud-civic.js"></script>
        <script type="text/javascript" src="static/core/app.js"></script>
        <script type="text/javascript" src="static/core/include/viewmanager.js"></script>
        <script type="text/javascript" src="static/core/include/resource.js"></script>
        <script type="text/javascript" src="static/core/models.js"></script>
        <script type="text/javascript" src="static/core/views.js"></script>
        <script type="text/javascript" src="static/core/controller.js"></script>
        <script type="text/javascript" src="static/core/routes.js"></script>
        <script type="text/javascript">$(function(){ App.Controller.initialize(); });</script>
        {% block scripts %}{% endblock %}
    </body>
</html>
