<script id="tpl-saved-search-item" type="text/template">
<div class="saved-search-item" id="saved-search-<%=id%>">
    <div class="pull-right">
		<button type="button" class="btn btn-link delete" data-id="<%= id %>">Delete</button>
        <button type="button" class="btn btn-default load" data-id="<%= id %>">Load</button>
    </div>
    <h3 class="name"><%= name %></h3>
    <small class="shortcode">short link: <a href="<%= shortUrl %>"><%= shortUrl %></a></small>
    <small class="date">saved at <%= date %></small>
    <small class="url"><%= url %></small>
</div>
</script>