<!DOCTYPE html>
<html>
    <head>
        <title>Attention Plotter</title>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css"/>
        <script type="text/javascript" src="static/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="static/js/bootstrap.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Attention Plotter</h1>
            <hr/>
            <ul>
                <li><a href="/projects">All projects</a></li>
                {% if current_user.is_authenticated() %}
                    <li><a href="projects/{{ current_user.name }}">My projects</a></li>
                {% endif %}
                {% if current_user.is_authenticated() %}
                    <li><a href="/logout">Log out</a></li>
                {% else %}
                    <li><a href="/login">Log in</a></li>
                {% endif %}
            </ul>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            {% block content %}
            {{ content }}
            {% endblock %}
        </div>
    </body>
</html>

