<script id="tpl-about-histogram-view" type="text/template">
<div class="about-view modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">About Pulse</h4>
            </div>
            <div class="modal-body">
Pulse show you how many sentences match your query each day, week, or month.
Labels on the line graph mark the day your query was most mentioned, and the day it was least mentioned (showing the number of sentences matching the query).
You can also download a CSV of the data (via this menu) to dig into more detail.
            </div>
        </div>
    </div>
</div>
</script>
