<script id="tpl-about-stories-view" type="text/template">
<div class="about-view modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">About Mentions</h4>
            </div>
            <div class="modal-body">
Mentions shows you a random sample of some of the stories that match your query. 
Due to copyright we can't show you all the sentences.  You can download a CSV list of all the stories, but be warned that it can take up to a minute to generate.
            </div>
        </div>
    </div>
</div>
</script>
