<script id="tpl-about-country-map-view" type="text/template">
<div class="about-view modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">About Geographic Attention</h4>
            </div>
            <div class="modal-body">
<p>
The country map shows you an intensity of how often countries are mentioned in the results.  This uses our <a href="http://cliff.mediameter.org/" target="_blank">CLIFF-CLAVIN geolocation</a> engine to find mentions of known places in the text of the news articles.  The darker the color, the more it was mentioned in the sentences.  You can click a country to narrow your search to just articles that mention places in that country.  Note that this is using a sampling of the sentences matching your search, not all of them.  If you download a CSV of the results, the counts you see are also based on this sampling.
</p>
<p>
You can't see an attention map for any set of dates and media.  We only support mapping for dates after Jan 1, 2015 for 
  media in our 
  <a href="http://sources.mediacloud.org/#/collections/8875027" target="_blank">US Mainsteam Media Set</a> or media in one 
  of the <a href="http://sources.mediacloud.org/#/collections/556" target="_blank">European Media Monitor Country sets</a>.
</p>
            </div>
        </div>
    </div>
</div>
</script>
