<script id="tpl-about-wordcount-view" type="text/template">
<div class="about-view modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">About Frequency...</h4>
            </div>
            <div class="modal-body">
Frequency gives you a better sense of "how" your query was talked about.  It shows you a word cloud, where words mentioned more often are shown larger.  If you have a <span class='main-query'>main</span> and a <span class="comparison-query">comparison</span> query, it shows you a comparative word cloud.  <span class='main-query'>Word in this color</span> only show up in the main query, <span class="comparison-query">word like this</span> only show up in the comparison query, and words in black show up in both.
            </div>
        </div>
    </div>
</div>
</script>
