<script id="tpl-about-histogram-view" type="text/template">
<div class="about-view modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">About Pulse</h4>
            </div>
            <div class="modal-body">
Pulse show you how many sentences match your query each day, week, or month.  This supports a few ways to dig into the data:
<ul>
<li>You can rollover points to see how many sentences matched each day for each query.</li>
<li>You can click a point to see a word cloud for that query during that day, week, or month.</li>
<li>You can click a query label at the bottom of the chart to hide it.  That can sometimes make it easier to select a query to see a word cloud for (ie. if the lines overlap).</li>
<li>You can highlight an area on the chart to re-run your search, limited to that span of time.</li>
<li>You can also download a CSV of the data (via this menu) to dig into more detail.</li>
</ul>
            </div>
        </div>
    </div>
</div>
</script>
