<script id="tpl-country-map-view" type="text/template">
<div class="country-map-view panel panel-default">
  <div class="panel-heading">
	<div class="btn-group pull-right">
	  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
	    <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu panel-action-list" role="menu">
	  	<li class="action-about" role="presentation"><a href="#" role="menuitem">About Geographic Attention...</a></li>
	  </ul>
	</div>
    <h2 class="panel-title">Geographic Attention</h2>
  </div>
  <div class="panel-body loading"></div>
  <div class="panel-body viz" style="display:none"></div>
</div>
</script>