{% extends 'core/base.html' %}

{% block branding_tool_name %}Dashboard{% endblock %}

{% block logo %}<a href="http://dashboard.mediameter.org/"><img src="/static/core/img/mm-logo-65-orange.png" /></a>{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="static/dashboard/style.css"/>
{% endblock %}

{% block scripts %}
    {% assets output="gen/mm-dashboard.js",
                        "core/lib/highcharts-4.1.7/highcharts.js",
                        "core/lib/highcharts-4.1.7/exporting.js",
                        "dashboard/views.js",
                        "dashboard/controller.js",
                        "dashboard/routes.js",
                        "dashboard/script.js",
                        "dashboard/lib/d3.geo.projection/d3.geo.projection.v0.min.js",
                        "dashboard/lib/topojson/topojson-v1.6.19.min.js",
                        "dashboard/lib/maps/world-110m.json"
                         %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block backbone_templates %}
    {% include 'dashboard/about_histogram_view.html' %}
    {% include 'dashboard/about_wordcount_view.html' %}
    {% include 'dashboard/about_sentences_view.html' %}
    {% include 'dashboard/about_stories_view.html' %}
    {% include 'dashboard/sentence_view.html' %}
    {% include 'dashboard/story_view.html' %}
    {% include 'dashboard/histogram_view.html' %}
    {% include 'dashboard/wordcount_view.html' %}
    {% include 'dashboard/wordcount_ordered_view.html' %}
    {% include 'dashboard/wordcount_comparison_view.html' %}
    {% include 'dashboard/country_map_view.html' %}
{% endblock %}
