<script id="tpl-story-view" type="text/template">
<div class="story-view panel panel-default">
  <div class="panel-heading">
	<div class="btn-group pull-right">
	  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
	    <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu panel-action-list" role="menu">
	  	<li class="action-about" role="presentation"><a href="#" role="menuitem">About Mentions...</a></li>
	  </ul>
	</div>
    <h2 class="panel-title">Mentions: Stories Matching <span class="count"></span></h2>
  </div>
  <div class="copy panel-body">
  </div>
</div>
</script>
