<script id="tpl-wordcount-comparison-view" type="text/template">
	<div class="content-text">
	</div>
	<div class="query-dropdown row">
		<div class="dropdown-left col-sm-4">
			<select class="form-control" id="left-select" style="float:left;border-radius:5px;-webkit-appearance: menulist">
			</select>
		</div>
		<div class ="col-sm-4">
		</div>
		<div class="dropdown-right col-md-4">
			<select class="form-control" id="right-select" style="float:left;border-radius:5px;-webkit-appearance: menulist">
			</select>
		</div>
	</div>
	<div class="content-viz">
	</div>
</script>

