<script id="tpl-wordcount-view" type="text/template">
    <form class="svg-download" method="post" action="/export/svg">
    <input type="hidden" name="content"/>
    <input type="hidden" name="filename" value="frequency.svg"/>
    </form>
    <div class="wordcount-view panel panel-default">
        <div class="panel-heading">
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu panel-action-list" role="menu">
                <li class="action-about" role="presentation"><a href="#" role="menuitem">About Frequency...</a></li>
              </ul>
            </div>
            <h2 class="panel-title">Frequency</h2>
        </div>
        <div class="copy panel-body">
        </div>
        <div class="viz panel-body">
            <div class="tab-content wordcount-view-content">
            </div>
        </div>
    </div>
</script>
