<script id="tpl-wordcount-comparison-view" type="text/template">
	<div class="content-text">
	</div>
	<form class="form-inline">
            <row>
		<div class="query-dropdown col-md-4 col-md-offset-4" style="padding-top:2mm;padding-bottom:2mm;">
			<div class="dropdown-left form-group">
				<label style="font-style: italic;font-weight: normal;text-transform:none;padding-right:1mm;position:relative;top:0.52mm"> Visualize</label>
				<select class="form-control" id="left-select" style="display:inline-block;border-radius:5px;-webkit-appearance: menulist">
				</select>
			</div>
			<div class="dropdown-right form-group">
				<label style="font-style: italic;font-weight: normal;text-transform:none;padding-left:1mm;padding-right:1mm;position:relative;top:0.52mm"> compared to</label>
				<select class="form-control" id="right-select" style="display:inline-block;border-radius:5px;-webkit-appearance: menulist">
				</select>
			</div>
		</div>
            </row>
	</form>
	<div class="content-viz">
	</div>
</script>

