<!DOCTYPE html>
<html>
    <head>
        <title>{% block page_title %}CFCM App{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="static/lib/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="static/style.css"/>
        {% block backbone_templates %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="header">
                {% block header %}
                <h1>{% block header_title %}CFCM App{% endblock %}</h1>
                <hr/>
                {% endblock %}
            </div>
            <div class="nav"></div>
            <div class="messages">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            <div class="content">
                {% block content %}
                {{ content |safe }}
                {% endblock %}
            </div>
            <div class="footer">
                {% block footer %}
                <hr/>
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            <img class="logo" src="static/img/logo.gif"/>
                        </p>
                        <p>&copy; Copyright 2014 MIT Center for Civic Media</p>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
        <script type="text/javascript" src="static/lib/jquery/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="static/lib/underscore/underscore-1.5.2-min.js"></script>
        <script type="text/javascript" src="static/lib/backbone/backbone-1.1.0-min.js"></script>
        <script type="text/javascript" src="static/lib/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="static/app.js"></script>
        <script type="text/javascript" src="static/models.js"></script>
        <script type="text/javascript" src="static/views.js"></script>
        <script type="text/javascript" src="static/routes.js"></script>
        <script type="text/javascript" src="static/script.js"></script>
        <script type="text/javascript">$(function(){ App.initialize(); });</script>
    </body>
</html>

