<script id="tpl-date-range-view" type="text/template">
<form class="form-inline" role="form">
    <div class="form-group">
        <label for="date-range-start" class="sr-only">Start</label>
        <input
            id="date-range-start"
            class="form-control datepicker"
            placeholder="From" />
    </div>
    <div class="form-group">
        <label for="date-range-end" class="sr-only">End</label>
        <input
            id="date-range-end"
            class="form-control datepicker"
            placeholder="To" />
    </div>
</form>
</script>
