{% extends 'base.html' %}
{% block page_title %}
    Media Cloud Dashboard
{% endblock %}
{% block header_title %}
    Media Cloud Dashboard
{% endblock %}
{% block backbone_templates %}
    {% include 'progress.html' %}
    {% include 'login_view.html' %}
    {% include 'controls_view.html' %}
    {% include 'controls_signout_view.html' %}
    {% include 'query_list_view.html' %}
    {% include 'query_view.html' %}
    {% include 'media_select_view.html' %}
    {% include 'media_list_view.html' %}
    {% include 'media_list_item_view.html' %}
    {% include 'date_range_view.html' %}
    {% include 'keyword_view.html' %}
    {% include 'sentence_view.html' %}
    {% include 'histogram_view.html' %}
    {% include 'wordcount_view.html' %}
{% endblock %}
