<script id="tpl-media-select-view" type="text/template">
    <div class="media-select-view col-sm-3 form-group">
        <label>Filter by source</label>
        <span class="explore"><a class="explore" href="">explore</a></span>
        <div class="input-group">
            <input type="text" class="media-input form-control" autocomplete="off" size="32"/>
            <span class="input-group-btn">
                <button tabindex="-1" class="btn btn-default" type="button">+</button>
            </span>
        </div>
    </div>
</script>
