<script id="tpl-query-controls-view" type="text/template">
    <div class="query-controls">
        <div class="col-sm-1">
            <label>Copy</label>
            <button class="copy btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        <div class="col-sm-1">
            <label>Remove</label>
            <button class="remove btn btn-default">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>
</script>
