<script id="tpl-query-view" type="text/template">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Query builder</h2>
        </div>
        <div class="query-view-content panel-body">
            <form role="form">
                <div class="col-sm-4">
                    <h4>Media sources</h4>
                    <div class="media-query-view">
                    </div>
                </div>
                <div class="col-sm-8">
                    <h4>Date range</h4>
                    <div class="date-range-view">
                    </div>
                    <h4>Keywords</h4>
                    <div class="keyword-view">
                    </div>
                </div>
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Query</button>
                </div>
            </form>
        </div>
    </div>
</script>
