<script id="tpl-simple-tag-select-view" type="text/template">
    <div class="simple-tag-select-view col-sm-5 form-group">
        <label>Filter by set</label>
        <span class="explore"><a class="explore" href="">explore</a></span>
        <div class="input-group">
            <input type="text" class="simple-tag-input form-control" autocomplete="off" size="50"/>
            <span class="input-group-btn">
                <button tabindex="-1" class="btn btn-default" type="button">+</button>
            </span>
        </div>
    </div>
</script>
