<script id="tpl-tag-set-view" type="text/template">
<div class="tag-set-view row">
  <div class=" name col-sm-3">
    <%= name %>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control tag-input" autocomplete="off" size="32">
        <span class="input-group-btn">
            <button tabindex="-1" class="btn btn-default" type="button">+</button>
        </span>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
      <div class="form-group">
          <div class="tag-set-view-content">
          </div>
      </div>
  </div>
</div>
</script>
