<script id="tpl-tag-select-view" type="text/template">
    <div class="tag-select-view col-sm-2 form-group">
        <label>Filter by</label>
        <div class="input-group">
            <input type="text" class="tag-set-input form-control" autocomplete="off" size="32"/>
        </div>
    </div>
    <div class="tag-select-view col-sm-2 form-group">
        <label>Tag</label>
        <div class="input-group">
            <input type="text" class="tag-input form-control" autocomplete="off" size="32"/>
            <span class="input-group-btn">
                <button tabindex="-1" class="btn btn-default" type="button">+</button>
            </span>
        </div>
    </div>
</script>
