<script id="tpl-tag-set-list-view" type="text/template">
<div class="tag-set-list-view">
    <div class="row">
        <div class="col-sm-3 form-group nomargin">
            <label>Filter by tag set</label>
            <span class="explore"><a class="explore" href="">explore</a></span>
        </div>
        <div class="col-sm-3 form-group nomargin">
            <label>Add tag</label>
        </div>
        <div class="col-sm-6 form-group nomargin">
            <label>Selected Tags</label>
        </div>
    </div>
    <div class="tag-set-list-view-content">
    </div>
    <div class="row add-tag-set">
        <div class="tag-set-list-view col-sm-3 form-group">
            <div class="input-group">
                <input type="text" class="tag-set-input form-control" autocomplete="off" size="32"/>
                <span class="input-group-btn">
                    <button tabindex="-1" class="btn btn-default" type="button">+</button>
                </span>
            </div>
        </div>
    </div>
</div>
</script>
