<!DOCTYPE html>
<html>
    <head>
        <title>Media Cloud Dashboard</title>
        <link rel="stylesheet" type="text/css" href="static/lib/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="static/style.css"/>
        <script type="text/javascript" src="static/lib/underscore/underscore-1.5.2-min.js"></script>
        <script type="text/javascript" src="static/lib/backbone/backbone-1.1.0-min.js"></script>
        <script type="text/javascript" src="static/lib/jquery/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="static/lib/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="static/script.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="header">
            {% block header %}
                <h1>Media Cloud Dashboard</h1>
            {% endblock %}
            </div>
            <div class="nav">
            </div>
            <div class="messages">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            </div>
            <div class="content">
            {% block content %}
                {{ content |safe }}
            {% endblock %}
            </div>
            <div class="footer">
            {% block footer %}
                <p>
                    <img class="logo" src="static/img/logo.gif"/>
                </p>
                <p>&copy; Copyright 2014 MIT Center for Civic Media</p>
            {% endblock %}
            </div>
        </div>
    </body>
</html>

